/* Structural Elements */
html, body {
	font-family: Helvetica san-serif;
	margin: 0;
	padding: 0;
}

/*----------*/
/* CSS Grid */
/*----------*/
/*div.grid-parent {
	display: grid;
	grid-template-columns: 100px auto 100px;
	grid-template-rows: 50px 200px auto;
	border: solid 1px #333333;
}*/

div.grid-parent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px 5px;
	background-color: #333333;
	border: solid 1px #ff0000;
}

div.grid-parent-sub {
	display:subgrid;
}

div.grid-child {
	griddd
}

div.flex-parent {
	display:flex;
	color:#ffffff;
	background-color:#0069b3;
}

div.flex-child {
	flex:1 1 auto;
}

/*-----------*/
/* Other CSS */
/*-----------*/
div.section {
	border-top: solid 1px #CCCCCC;
	padding: 1em 3em;
}

div.section:nth-child(3n) {
	background-color: #FFEBEE;
}

div.section:nth-child(3n-1) {
	background-color: #F5F5F5;
}

div.section:nth-child(3n-2) {
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica san-serif;
}

h1, h2, h3 {
	color: #212121;
}

h4, h5, h6 {
	color: #616161;
}

